# Project exclude paths
/shelf/
/workspace.xml
/out/
/.idea
/lib/
/lib/lwjgl-release-3.3.0-custom/
/javadoc/
/Engine/src/com/gnix/jflatgl/test/
/src/META-INF/
/META-INF/
/controls/
/generate javadoc jar.bat
/resourceData/
/com/
/gametitle/
