# Project exclude paths
/shelf/
/workspace.xml
/out/
/.idea
/lib/
/lib/lwjgl-release-3.3.0-custom/
/javadoc/
/src/META-INF/
/META-INF/
/controls/
/resourceData/
/com/
/gametitle/
/JFlatGLTest/
/JFlatGL-Core-Javadoc.jar
/tools/
